.properties-N9 {
  overflow: hidden;
  position: relative;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.properties-N9 .contents-inner {
  width: 100%;
}

.properties-N9 .title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 6rem;
  text-align: center;
}

.properties-N9 .ico-dot {
  width: 1.6rem;
  height: 1.6rem;
  background: url("../../resources/icons/ico_diamond.svg") no-repeat center/contain;
}

.properties-N9 .form-group {
  width: 100%;
}

.properties-N9 .form-group .form-tit {
  margin-bottom: 0.8rem;
  font-weight: var(--fw-medium);
}

.properties-N9 .form-group .form-tit+.checkset-wrap,
.properties-N9 .form-group .form-tit+.radioset-wrap {
  gap: 1.2rem 4rem;
  margin-top: 1.6rem;
  flex-wrap: wrap;
}

.properties-N9 .form-group .form-tit span {
  color: #c90000;
}

.properties-N9 .form-box+.form-box {
  margin-top: 1.6rem;
}

.properties-N9 .inputset+.inputset {
  margin-top: 4rem;
}

.properties-N9 .inputset .inputset-tit {
  margin-bottom: 0.8rem;
}

.properties-N9 .inputset .inputset-label {
  width: 100%;
}

.properties-N9 .inputset .inputset-textarea {
  height: 14rem;
  resize: none;
}

.properties-N9 .form-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
}

.properties-N9 .contents-agree {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.properties-N9 .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
  border-bottom: 1px solid #e5e5e5;
}

.properties-N9 .info-title h3 {
  font-size: var(--fs-h4);
}

.properties-N9 .modal-close {
  cursor: pointer;
}

.properties-N9 .info-area {
  overflow-y: auto;
}

.properties-N9 .info-group+.info-group {
  margin-top: 2.4rem;
}

.properties-N9 .info-group strong {
  display: block;
  padding-bottom: 1.2rem;
  font-size: var(--fs-h5);
}

.properties-N9 .info-desc {
  overflow-y: auto;
  padding: 1.6rem;
  max-height: 20.7rem;
  background: #f8f8fa;
  border-radius: 1.6rem;
}

.properties-N9 .info-desc::-webkit-scrollbar {
  width: 6px;
}

.properties-N9 .info-desc::-webkit-scrollbar-track {
  background-color: #ddd;
}

.properties-N9 .info-desc::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.properties-N9 .info-desc p {
  font-size: var(--fs-p1);
}

.properties-N9 .info-desc p.fw-medium {
  font-weight: var(--fw-medium);
}

.properties-N9 .info-desc .mtb {
  margin: 2.4rem 0;
}

.properties-N9 .info-desc em {
  display: flex;
  align-items: center;
  position: relative;
  margin: 2.4rem 0 1rem;
  font-style: normal;
  font-weight: 600;
}

.properties-N9 .info-list em::before {
  content: "";
  margin-right: 0.8rem;
  width: 0.4rem;
  height: 0.4rem;
  background: var(--black);
  border-radius: 50%;
}

.properties-N9 .info-list p {
  padding-left: 1.2rem;
}

.properties-N9 .privacy-policy-content {
  max-height: none;
  font-size: 1.5rem;
  line-height: 1.7;
  white-space: normal;
}

.properties-N9 .modal-confirm .modal-area {
  position: relative;
  padding: 3.2rem;
  max-width: 36rem;
  background: var(--text-color1);
  border-radius: 0.8rem;
}

.properties-N9 .modal-confirm .modal-icon {
  position: absolute;
  top: 1.4rem;
  right: 1.6rem;
  width: 2.8rem;
  height: 2.8rem;
  border: 0;
  background: transparent;
}

.properties-N9 .modal-confirm .modal-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.properties-N9 .modal-confirm .modal-figure {
  margin: 0 auto;
  width: 5.6rem;
  height: 5.6rem;
}

.properties-N9 .modal-confirm .modal-figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.properties-N9 .modal-confirm .modal-body {
  font-size: var(--fs-p1);
  text-align: center;
  color: var(--white);
}

.properties-N9 .modal-confirm .modal-textarea {
  margin: 1.6rem 0;
}

.properties-N9 .modal-confirm .modal-footer {
  text-align: center;
}

.properties-N9 .modal-confirm .modal-footer .btnset {
  min-width: 9.4rem;
  height: 4rem;
  border-radius: 0.4rem;
}

.properties-N9 .modal-confirm .modal-footer .btnset.btnset-line-light {
  border-color: var(--white);
  color: var(--white);
}

.properties-N9 .modalset .modalset-close::before {
  color: var(--text-color1);
}

@media (max-width: 992px) {
  .properties-N9 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .properties-N9 .title-area {
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 3rem;
  }

  .properties-N9 .ico-dot {
    width: 1.2rem;
    height: 1.2rem;
  }

  .properties-N9 .form-box+.form-box {
    margin-top: 1.4rem;
  }

  .properties-N9 .form-group .form-tit+.checkset-wrap,
  .properties-N9 .form-group .form-tit+.radioset-wrap {
    gap: 0.8rem 2.4rem;
  }

  .properties-N9 .form-wrap {
    display: block;
  }

  .properties-N9 .form-btn {
    margin-top: 1.4rem;
    max-width: 100%;
  }

  .properties-N9 .modal-confirm .modal-figure {
    width: 4.8rem;
    height: 4.8rem;
  }

  .properties-N9 .modal-confirm .modal-textarea {
    margin: 0.8rem 0;
  }
}
